name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Enable pnpm
        run: npm i -g --force corepack && corepack enable
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: pnpm
      - name: Setup ni
        run: npm i -g @antfu/ni
      - name: Install
        run: nci
      - name: Lint
        run: nr lint
      - name: Build
        run: nr build
